.container.fluid
  .category.row
    .col-md-1.text-center
      Category 1
    .col-md-1.col-md-offset-1.text-center
      Category 2
    .col-md-1.col-md-offset-1.text-center
      Category 3
    .col-md-1.col-md-offset-1.text-center
      Category 4
    .col-md-1.col-md-offset-1.text-center
      Category 5
    .col-md-1.col-md-offset-1.text-center
      Category 6

  .row
