!!!
%html
  %head
    %title Jeopardy
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top{:role=> "navigation"}
    %div.container-fluid
      %div.navbar-header

    %div.container
      = yield

    %footer.navbar-inverse.navbar-fixed-bottom
      %div.container
        %p.navbar-text.navbar-right
          Created by Turek
